@page
@model ReLuxWeb.Pages.Admin.RateConditions.DeleteModel


<form method="post">
    <input hidden asp-for="RateCondition.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="RateCondition.Description" class="form-control"></label>
            <input asp-for="RateCondition.Description" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="RateCondition.Stars" class="form-control"></label>
            <input asp-for="RateCondition.Stars" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to the list</a>
    </div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
